# 1. Set up Environment

In [1]:
# pip install kaggle

In [3]:
%pwd

'/home/jovyan/work/notebooks'

In [4]:
%cd '/home/jovyan/work'

/home/jovyan/work

In [5]:
import os
if os.path.exists("adsi-at2.zip"):
  os.remove("adsi-at2.zip")
if os.path.exists("data_files/raw/beer_reviews.csv"):
  os.remove("data_files/raw/beer_reviews.csv")

In [6]:
%load_ext autoreload
%autoreload 2

In [7]:
import os
import pandas as pd
import numpy as np

In [8]:
pd.options.display.max_rows = 10000

In [9]:
# Download data from Kaggle API, unzip and place in data directory
os.environ['KAGGLE_USERNAME'] = "kallikrates"
os.environ['KAGGLE_KEY'] = "238b7c2704c0169326ee26d23a1d1d7c"
!kaggle datasets download -d kallikrates/adsi-at2
!unzip -q adsi-at2.zip -d /home/jovyan/work/data_files/raw

Downloading adsi-at2.zip to /home/jovyan/work
 98%|█████████████████████████████████████▍| 27.0M/27.4M [00:05<00:00, 5.68MB/s]
100%|██████████████████████████████████████| 27.4M/27.4M [00:05<00:00, 5.32MB/s]

# 2. Load and Explore Data

In [10]:
df = pd.read_csv('data_files/raw/beer_reviews.csv')

In [11]:
df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [12]:
df.shape

(1586614, 13)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 13 columns):
brewery_id            1586614 non-null int64
brewery_name          1586599 non-null object
review_time           1586614 non-null int64
review_overall        1586614 non-null float64
review_aroma          1586614 non-null float64
review_appearance     1586614 non-null float64
review_profilename    1586266 non-null object
beer_style            1586614 non-null object
review_palate         1586614 non-null float64
review_taste          1586614 non-null float64
beer_name             1586614 non-null object
beer_abv              1518829 non-null float64
beer_beerid           1586614 non-null int64
dtypes: float64(6), int64(3), object(4)
memory usage: 157.4+ MB

In [14]:
df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

# 3. Prepare Data

In [15]:
df_cleaned = df.copy()

### Drop unused variables

In [16]:
df_cleaned.drop(['brewery_id', 'review_time','review_profilename','beer_beerid','beer_name','beer_abv'], axis=1, inplace=True)

### Define target variable

### Scaler and OneHot Encoder

In [17]:
df_cleaned

,brewery_name,review_overall,review_aroma,review_appearance,beer_style,review_palate,review_taste
0,Vecchio Birraio,1.5,2.0,2.5,Hefeweizen,1.5,1.5
1,Vecchio Birraio,3.0,2.5,3.0,English Strong Ale,3.0,3.0
2,Vecchio Birraio,3.0,2.5,3.0,Foreign / Export Stout,3.0,3.0
3,Vecchio Birraio,3.0,3.0,3.5,German Pilsener,2.5,3.0
4,Caldera Brewing Company,4.0,4.5,4.0,American Double / Imperial IPA,4.0,4.5
...,...,...,...,...,...,...,...
1586609,The Defiant Brewing Company,5.0,4.0,3.5,Pumpkin Ale,4.0,4.0
1586610,The Defiant Brewing Company,4.0,5.0,2.5,Pumpkin Ale,2.0,4.0
1586611,The Defiant Brewing Company,4.5,3.5,3.0,Pumpkin Ale,3.5,4.0
1586612,The Defiant Brewing Company,4.0,4.5,4.5,Pumpkin Ale,4.5,4.5
1586613,The Defiant Brewing Company,5.0,4.5,4.5,Pumpkin Ale,4.5,4.5

#### Check for and Exclude Nas

In [18]:
df_cleaned.dropna(inplace=True)

Reset Indices

In [19]:
df_cleaned.reset_index(drop=True, inplace=True)

In [20]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [21]:
target_col = 'beer_style'

In [22]:
cat_cols = ['brewery_name']

In [23]:
num_cols = list(set(df_cleaned.columns) - (set(cat_cols) | set([target_col])))

### OneHotEncoder and Scaler

In [24]:
sc = StandardScaler()

In [25]:
df_cleaned[num_cols] = sc.fit_transform(df_cleaned[num_cols])

In [26]:
ohe = OneHotEncoder(sparse=True)

Perform One-Hot encoding on cat_cols and save them into a dataframe called X_cat

In [27]:
X_cat = pd.DataFrame(ohe.fit_transform(df_cleaned[cat_cols]))

In [28]:
X_cat.columns = ohe.get_feature_names(cat_cols)

ValueError: Length mismatch: Expected axis has 1 elements, new values have 5742 elements

In [ ]:
df_cleaned.drop(cat_cols, axis=1, inplace=True)

In [ ]:
X  = pd.concat([df_cleaned, X_cat ], axis=1)

In [ ]:
X

### Split Data

In [30]:
from sets import split_sets_by_time, save_sets, split_sets_random

In [31]:
X_train, y_train, X_val, y_val, X_test, y_test = split_sets_random(X, target_col=target_col, test_ratio=0.2, to_numpy=True)

In [32]:
save_sets(X_train=X_train, y_train=y_train, X_val=X_val, y_val=y_val, X_test=X_test, y_test=y_test, path='data_files/processed/beer')

In [33]:
from pytorch import PytorchDataset

train_dataset = PytorchDataset(X=X_train, y=y_train)
val_dataset = PytorchDataset(X=X_val, y=y_val)
test_dataset = PytorchDataset(X=X_test, y=y_test)

# 4. Model

In [34]:
from null import NullModel

In [35]:
baseline_model = NullModel(target_type='classification')
y_base = baseline_model.fit_predict(y_train)

In [36]:
from performance import print_class_perf

In [37]:
print_class_perf(y_base, y_train, set_name='Training', average='weighted')

Accuracy Training: 0.07430256975352931
F1 Training: 0.01027805764859095

# 5. Define Architecture

In [38]:
import torch
import torch.nn as nn
import torch.nn.functional as F

In [39]:
from pytorch import PytorchMultiClass

model = PytorchMultiClass(X_train.shape[1])

In [40]:
from pytorch import get_device

device = get_device()
model.to(device)

PytorchMultiClass(
  (layer_1): Linear(in_features=6, out_features=32, bias=True)
  (layer_out): Linear(in_features=32, out_features=104, bias=True)
  (softmax): Softmax(dim=1)
)

# 6. Train Model

In [41]:
criterion = nn.CrossEntropyLoss()

In [42]:
optimizer = torch.optim.Adam(model.parameters(), lr=0.1)

In [43]:
from train_classification_model import train_classification
from test_classification_model import test_classification

In [44]:
N_EPOCHS = 2
BATCH_SIZE = 32

In [ ]:
for epoch in range(N_EPOCHS):
    train_loss, train_acc = train_classification(train_dataset, model=model, criterion=criterion, optimizer=optimizer, batch_size=BATCH_SIZE, device=device)
    valid_loss, valid_acc = test_classification(val_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)

    print(f'Epoch: {epoch}')
    print(f'\t(train)\t|\tLoss: {train_loss:.4f}\t|\tAcc: {train_acc * 100:.1f}%')

Epoch: 0
	(train)	|	Loss: 0.1435	|	Acc: 6.9%

In [ ]:
torch.save(model, "models/pytorch_multi_beer_evaluation.pt")

In [ ]:
test_loss, test_acc = test_classification(test_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)
print(f'\tLoss: {test_loss:.4f}\t|\tAccuracy: {test_acc:.1f}')

In [ ]:
import joblib

In [ ]:
joblib.dump(model, "models/model.pkl")